html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

button {
    margin-right: 10px;
}

#delete-button {
    color: red;
}