<html xmlns:th="https://www.thymeleaf.org">
<script th:src="@{/js/display.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Table - Display</title>
    <link rel="stylesheet" th:href="@{/css/display.css}">
</head>
<body>

<div id="navbar-top" class="container">
    <button id="input-nav" onclick="location.href = inputUrl;">Add new Data!</button>
    <button id="delete-button" onclick="deleteProductRow()">Delete selected Rows</button>
    <button id="edit-button" onclick="editSelectedProduct()">Edit selected Row</button>
</div>

<div id="product-table" class="container">
    <table>
        <tr>
            <th><input type="checkbox" onclick="toggle(this)"></th>
            <th>Mfr</th>
            <th>Type Name</th>
            <th>Type ID</th>
            <th>Style Name</th>
            <th>Style ID</th>
            <th>Color #</th>
            <th>Color Name</th>
            <th>Size</th>
        </tr>
        <tr th:each="product : ${products}">
            <td><input type="checkbox" th:id="${product.id}"></td>
            <td th:text="${product.manufacturer}"/>
            <td th:text="${product.typeName}"/>
            <td th:text="${product.typeId}"/>
            <td th:text="${product.styleName}"/>
            <td th:text="${product.styleId}"/>
            <td th:text="${product.colorNumber}"/>
            <td th:text="${product.colorName}"/>
            <td th:text="${product.size}"/>
        </tr>
    </table>
</div>

</body>
</html>